.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #FFF;
  margin: 16px auto;

  h2 {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    span {
      white-space: nowrap;
      padding-left: 10px;
      font-weight: 500;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    & > p {
      width: 100%;
      font-weight: 300;
      color: #828282;
      text-align: justify;
    }
  }

  .card__info {
    margin-top: auto;

    span {
      padding: 0 5px;
      margin-right: 5px;
      background-color: #D9D9D9;
    }
  }
}

@media (screen and min-width: 820px) {
  .card {
    flex-direction: row;

    & > img {
      margin-right: 10px;
    }

    h2 {
      margin: 0;
    }
  }
}

@media (screen and min-width: 1024px) {
  .card {
    & > div {
      & > p {
        width: 80%;
      }
    }
  }
}