<div class="pagination">
  <button aria-label="arrow left"><</button>
  {{#each count}}
    <div aria-label="pagination_item">{{this}}{{count}}</div>
  {{/each}}
  <button aria-label="arrow right" aria-disabled="true" disabled>></button>
</div>