<div class="sorting">
  <label>
    Sort by
    <select>
      <option>Sort options</option>
      <option>By price</option>
      <option>By date</option>
      <option>By title</option>
    </select>
  </label>
</div>